<header>  
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Ignacio De Diego -- Test para Angular</a>      
    </nav>  
</header>

<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="navbar-brand mb-4">
          CRUD Simple
        </div>
        <ul class="list-group">
          <!-- *ngFor es código Backend de Angular como el For(){} de PHP por ejemplo -->
          <li
            *ngFor="let employee of employeeArray"
            class="list-group-item list-group-item-action"
            (click)="openForEdit(employee)"
            [class.active]="employee == selectedEmployee"
            >
            <span class="badge badge-primary">{{ employee.id }}</span> {{ employee.name }} - {{ employee.country }}
          </li>
        </ul>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
                Insertar empleados
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.name" placeholder="Inserta un nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedEmployee.country" placeholder="Inserta un país" class="form-control">
            </div>
            <button (click)="AddOrEdit()" class="btn btn-primary">
              Enviar
            </button>
            <button
            *ngIf="selectedEmployee.id !== 0"
            class="btn btn-danger"
            (click)="Delete()"
            >
              Borrar
            </button>
          </div>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <div class="navbar-brand mt-4">
              Creación dinámica de componentes
          </div>
          <div class="card text-center mt-4">
              <div class="card-header">
                  Crea componentes de forma dinámica
              </div>
              <div class="card-body">
                Pulsa Crear para añadir el componente o selecciona el que desees y pulsa Eliminar para suprimirlo.
              </div>
              <div class="card-footer">
                <button class="btn btn-primary mr-2" (click)="createComponent()">Crear</button>
                <button class="btn btn-danger" (click)="removeComponent()">Eliminar</button>
              </div>  
          </div>
          <!-- 
          <app-link *ngFor="let link of links" [link]="link"></app-link>
          -->
      </div>
    </div>
  </div>
</div>

<footer class="mt-4">
  <nav class="navbar navbar-dark bg-primary text-white">
      Footer del proyecto
  </nav>    
</footer>
 
<!--
<div >
  <p>Ingrese nombre<input type="text" [(ngModel)]="nombre"></p>
  <p>Ingrese apellido<input type="text" [(ngModel)]="apellido"></p>  
  <p>Nombre completo:{{nombre}},{{apellido}}</p>
</div>
-->